:root {
    --primary-color: rgba(80, 101, 136, 1);
    --primary-variant: rgba(44, 55, 75, 1);
    --secondary-color: rgba(232, 88, 1, 1);
    --secondary-variant: rgba(253, 191, 8, 0.8);
    --background-color: #fcffff;
    --error-color: #B00020;
    --on-primary: #fcffff;
    --on-secondary: #fcffff;
    --on-error: #fcffff;
}

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    display: grid;
    font-size: 16px;
    grid-template-rows: auto 1fr auto;
    min-height: 100%;
}

/*
*************************
******** HEADER *********
*************************
*/

header {
    background-color: var(--primary-color);
    color: var(--on-primary-color);
    display: flex;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 60px;
    position: absolute;
    top: 0;
    width: 100%;
}

#menu-section {
    align-items: center;
    border: transparent;
    border-radius: 25px;
    display: flex;
    height: 40px;
    justify-content: center;
    margin: 10px 10px 10px 25px;
    padding: 5px;
    width: 40px;
}

#menu-section:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#menu-button {
    background-color: var(--primary-color);
    border: transparent;
    color: var(--on-primary);
}

#menu-button:hover {
    background-color: var(--primary-color);
    color: var(--on-primary-color);
    cursor: pointer;
}

#icon-section {
    align-items: center;
    border: transparent;
    border-radius: 25px;
    display: flex;
    height: 40px;
    justify-content: center;
    margin: 10px 25px 0px 0px;
    margin-left: auto;
    padding: 5px;
    width: 40px;
}

#icon-img {
    height: 300%;
    padding-top: 10px;
    width: 300%;
}

/*
*************************
******* SIDE NAV ********
*************************
*/

#nav-aside {
    background-color: var(--background-color);
    box-shadow: 5px 0px 10px 2px rgba(117,117,117,0.68);
    display: flex;
    flex-direction: column;
    height: calc(100% - 60px);
    left: 0;
    margin-top: 60px;
    overflow-x: hidden;
    position: fixed;
    grid-row-start: 2;
    grid-row-end: 3;
    top: 0;
    transition: 0.5s;
    width: 0;
    z-index: 1;
}

.aside-a {
    background-color: var(--secondary-variant);
    border: transparent;
    border-radius: 5px;
    color: var(--secondary-color);
    display: flex;
    margin: 10px 10px 0px 10px;
    text-decoration: none;
}

.aside-a:hover {
    background-color: var(--secondary-color);
    color: var(--on-secondary);
}

.aside-a i {
    margin: 10px 10px 10px 20px;
    justify-content: center;
}

.aside-a span {
    font-size: 16px;
    margin: 10px;
    padding-top: 5px;
}

#bc-span {
    margin: auto 10px 10px 10px;
    color: var(--primary-variant);
}

/*
*************************
******** Homepage *******
*************************
*/

#home-main {
    grid-row-start: 2;
    grid-row-end: 3;
    height: calc(100% - 50px);
}

#inquire-a {
    color: var(--secondary-color);
    text-decoration: none;
}

/* Cell Phone: Below 600px Wide */
@media (max-width: 599px) {

    #logo-img {
        padding: 25px 0px 0px 0px;
    }

    p {
        color: var(--primary-variant);
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        text-align: center;
        width: 90%;
        margin: 10px auto;
    }
    
}

/* Tablet - Portrait: 600px and up */
@media (min-width: 600px) {
    #logo-img {
        display: flex;
        margin: 0px auto;
        width: 90%;
    }

    p {
        color: var(--primary-variant);
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        text-align: center;
        width: 80%;
        margin: 10px auto;
    }
}

/* Tablet - Landscape: 900px and up */
@media (min-width: 900px) {
    #logo-img {
        display: flex;
        margin: 0px auto;
        width: 75%;
    }

    p {
        color: var(--primary-variant);
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        text-align: center;
        width: 60%;
        margin: 10px auto;
    }    
}

/* Desktop - 1200px and up */
@media (min-width: 1200px) {
    #logo-img {
        display: flex;
        margin: 0px auto;
        width: 60%;
    }

    p {
        color: var(--primary-variant);
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        text-align: center;
        width: 60%;
        margin: 10px auto;
    }
}


/*
*************************
******** Inquire ********
*************************
*/

#inquire-main {
    grid-row-start: 2;
    grid-row-end: 3;
}

#inquire-h {
    color: var(--secondary-color);
    font: "Work Sans";
    font-weight: 600;
    text-transform: uppercase;
}

#inquire-form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#inquire-h {
    height: 56px;
    margin: 5px;
    padding: 16px 12px;
    width: 280px;
}

.form-input {
    background-color: var(--on-primary);
    border: transparent;
    border-bottom: solid 1px var(--primary-variant);
    border-radius: 5px 5px 0px 0px;
    color: var(--primary-variant);
    height: 56px;
    margin: 5px;
    padding: 16px 12px;
    width: 280px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

select {
    background-color: var(--on-primary);
    border: solid 1px var(--primary-variant);
    border-radius: 5px;
    color: var(--primary-variant);
    cursor: pointer;
    height: 56px;
    margin: 5px;
    padding: 16px 12px;
    width: 280px;
}


#button-div {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    height: 56px;
    width: 280px;
}

button {
    cursor: pointer;
    height: 36px;
    text-align: center;
    margin: 5px;
    width: 64px;
}

#cancel-div {
    display: flex;
    font: "Work Sans";
    font-size: 15px;
    font-weight: 600;
    justify-content: center;
    margin-top: 8px;
}

#cancel-a {
    background-color: var(--background-color);
    border-radius: 5px;
    color: var(--secondary-color);
    height: 36px;
    margin: 5px;
    text-decoration: none;
    width: 64px;
}

#cancel-a:hover {
    background-color: var(--primary-color);
    color: var(--on-primary);
}

#submit-button {
    background-color: var(--secondary-variant);
    border: transparent;
    border-radius: 5px;
    color: var(--secondary-color);
    font-weight: 600;
}

#submit-button:hover {
    background-color: var(--secondary-color);
    color: var(--on-secondary);
}


/*
*************************
***** Confirmation ******
*************************
*/

#confirm-main {
    display: flex;
    flex-direction: column;
    grid-row-start: 2;
    grid-row-end: 3;
    height: calc(100% - 60px);
    margin: 60px 0px 0px 0px;
}

#confirm-h1 {
    color: var(--secondary-color);
    margin: 25px auto;
}

.confirm-p {
    color: var(--primary-variant);
    font-size: 18px;
    margin: 5px auto;
}


/*
*************************
******** FOOTER *********
*************************
*/

footer {
    background-color: var(--primary-variant);
    color: var(--on-primary-color);
    display: flex;
    grid-row-start: 3;
    grid-row-end: 4;
    height: 50px;
    width: 100%;
}

#social-section {
    display: flex;
    align-items: center;
    margin: 5px auto;
}

#ig-a {
    align-items: center;
    background-color: white;
    border-radius: 4px;
    display: flex;
    height: 29px;
    justify-content: center;
    margin: 14.5px;
    width: 29px;
}

#ig-img {
    height: 25px;
    margin: 4px;
    width: 25px;
}

#tw-a {
    align-items: center;
    border-radius: 4px;
    display: flex;
    height: 29px;
    justify-content: center;
    margin: 14.5px;
    width: 29px;
}

#tw-img {
    height: 29px;
    margin: 14.5px;
    width: 29px;
}
