<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>CardsCredit.com</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Google Icons and Fonts -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">

        <!-- User Templates -->
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    </head>
    {% block content %}
    {% endblock %}
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</html>