{% block header %}

    <footer>
        <section id="social-section">
            <a id=ig-a href="https://www.instagram.com/cardscreditcom/?hl=en" target="_blank">
                <img id="ig-img" src="{{ url_for('static', filename='ig-logo.png') }}">
            </a>
            <a id=tw-a href="https://twitter.com/cardscreditcom" target="_blank">
                <img id="tw-img" src="{{ url_for('static', filename='tw-logo.png') }}">
            </a>
        </section>
    </footer>

{% endblock %}